<table border="2px">
        <tr>
            <th>과목</th>   <!-- 1행 1열-->
            <th>학생 1</th> <!-- 1행 2열-->
            <th>학생 2</th> <!-- 1행 3열-->
        </tr>
        <tr>
            <td>수학</td>   <!-- 2행 1열-->
            <td>80</td>     <!-- 2행 2열-->
            <td>70</td>    <!-- 2행 3열-->
        </tr>
        <tr>
            <td>과학</td>   <!-- 3행 1열-->
            <td>50</td>     <!-- 3행 2열-->
            <td>30</td>    <!-- 3행 3열-->
        </tr>
</table>